@inherits TestContext
@code {    
	[Fact]
	public void MainLayout_handles_errors()
	{
		// Arrange and act
		IRenderedFragment cut = Render(@<MainLayout>
											<Body><ThrowingComponent /></Body>
										</MainLayout>);

		// Assert
		IElement errorDiv = cut.Find(".my-error");
		errorDiv.MarkupMatches(
			@<p class="my-error">Something went wrong. Try again in a moment or two!</p>
		);
	}
}