@inherits TestContext
@code {    
	[Fact]
	public void MainLayoutHandlesErrors()
	{
		var cut = Render(@<MainLayout><Body><ThrowingComponent /></Body></MainLayout>);

		cut.Find(".my-error").MarkupMatches(
			@<p class="my-error">Something went wrong. Try again in a moment or two!</p>
		);
	}
}